.pf__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.pf__navbar-links {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pf__navbar-links_logo {
    margin-right: 2rem;
}

.pf__navbar-links_logo img {
    width: 62px;
}

.pf__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.pf__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pf__navbar-links_container p,
.pf__navbar-sign p, 
.pf__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;

}

.pf__navbar-links_container p:hover,
.pf__navbar-sign p:hover, 
.pf__navbar-menu_container p:hover {
    animation: blinker_navbar 1s linear infinite;
    color: red;
  }
  
  @keyframes blinker_navbar {
    50% {
      opacity: 0.7;
    }
    from { color: white; }
    to { color: cyan; }
  
}

.pf__navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.pf__navbar-menu svg {
    cursor: pointer;
}

.pf__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0 ,0 , 0.2);
}

.pf__navbar-menu_container p {
    margin: 1rem 0;
}

.one__navbar-menu_container-links {
    color: #fff;
}

@media screen and (max-width: 1050px) {
    .pf__navbar-links_container {
        display: none;
    }

    .pf__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .pf__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .pf__navbar {
        padding: 2rem;
    }

    .pf__navbar-sign {
        display: none;
    }

    .pf__navbar-menu_container {
        top: 20px;
    }

    .pf__navbar-menu_container-links-sign {
        display: block;
    }
}

